# Archivos de estado y backups
*.tfstate
*.tfstate.backup
*.tfplan

# Archivos sensibles del directorio local
.terraform/
.terraform.lock.hcl

# Archivos de logs (si generas alguno)
*.log

# Archivos de salida o temporales
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# Archivos editoriales o del sistema
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
*.bak
*.tmp
